//====================================================================================================
// Header styles
//====================================================================================================
.header {
	width: 100%;
	height: 80px;
	background-color: rgb(18, 155, 235);
	padding-top: 30px;

	.container {
		display: flex;
	}

	&__logo {}

	&__nav {
		margin-left: auto;
		@include transition_200;
		@media (max-width: 767px) {
			position: absolute;
			top: 80px;
			right: 0;
			display: flex;
			flex-direction: column;
			background-color: aqua;
			opacity: 0;
			visibility: hidden;
			&.active {
				opacity: 1;
				visibility: visible;
			}
		}
		ul {
			display: flex;
			li {
				position: relative;
				margin-right: 10px;
				a {
					color: $colorwhite;
					font-size: 14px;
					line-height: 22px;
				}
				.submenu {
					@include transition_200;
					position: absolute;
					top: 50px;
					left: 0;
					width: 300px;
					background-color: rgb(4, 98, 175);
					opacity: 0;
					visibility: hidden;
					display: flex;
					flex-direction: column;
					@media (max-width: 767px) {
						position: relative;
						opacity: 1;
						visibility: visible;
						top: 0;
						background-color: transparent;
					}
					li {
						margin-bottom: 10px;
						a {
							color: $colorwhite;
							font-size: 14px;
							line-height: 22px;
						}
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
				&:hover {
					.submenu {
						opacity: 1;
						visibility: visible;
					}
				}
				&:last-child {
					margin-right: 0;
				}
			}
		} 
	}
}
//====================================================================================================
// Header styles
//====================================================================================================


//====================================================================================================
// Burger Icon 
//====================================================================================================
.burger-menu {
	display: none;
	@media (max-width: 767px) {
		display: block;
		width: 80px;
		height: 80px;
		position: absolute;
		top: 0;
		right: 0;
		overflow: hidden;
	}
	.burgerIcon {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.burgerRotate.active {
		transform: rotate(45deg);
	}

	.burgerRotate180.active {
		transform: rotate(180deg);
	}

	.line {
		fill: none;
		transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
		stroke: #000;
		stroke-width: 5.5;
		stroke-linecap: round;
	}

	.burger-tolls .top {
		stroke-dasharray: 40 160;
	}

	.burger-tolls .middle {
		stroke-dasharray: 40 142;
		transform-origin: 50%;
		transition: transform 400ms;
	}

	.burger-tolls .bottom {
		stroke-dasharray: 40 85;
		transform-origin: 50%;
		transition: transform 400ms, stroke-dashoffset 400ms;
	}

	.burger-tolls.active .top {
		stroke-dashoffset: -64px;
	}

	.burger-tolls.active .middle {
		transform: rotate(90deg);
	}

	.burger-tolls.active .bottom {
		stroke-dashoffset: -64px;
	}
}
//====================================================================================================
// Burger Icon 
//====================================================================================================