//====================================================================================================
// Mixin
//====================================================================================================
@mixin box {
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	position: relative;
}

@mixin transition_200 {
	-webkit-transition: all 200ms linear;
	        transition: all 200ms linear;
}

@mixin transition_300 {
	-webkit-transition: all 300ms linear;
	        transition: all 300ms linear;
}

@mixin transition_400 {
	-webkit-transition: all 400ms linear;
	        transition: all 400ms linear;
}

@mixin clearfix {
  &:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
  }
}