//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$mainColor: #000;
$mainBackgroundColor: #fff;

$colorwhite: #ffffff;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	color: $mainColor;
	background-color: $mainBackgroundColor;
	transition: all 300ms ease-in-out;
	&._lock {
		overflow: hidden;
	}
	&.active {
		background-color: #000;
		color: #fff;
	}
}


//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&.loaded {
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	// padding: 1.25rem;
	// @media (max-width: $md1 + px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "popup";
@import "tippy";
@import "ui";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//</MEDIA Запросы>====================================================================================================
/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/
//</MEDIA Запросы>====================================================================================================

 