//<ОСНОВНОЙ БЛОК>====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
	display: block;
	content: "";
	clear: both;
}
.rub:after {
	content: "₽";
}
//====================================================================================================
%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//====================================================================================================
ol.counter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		padding: 0px 0px 0px 45px;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			border: 1px solid #4274bb;
		}
	}
}
//====================================================================================================
.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.es {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}
.trow {
	display: table-row;
}
.cell {
	display: table-cell;
	&.full {
		width: 100%;
	}
}
//====================================================================================================
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================
._video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.videobg {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
//====================================================================================================
// ._more-block
._more-block {
}
// ._more-content
._more-content {
	transition: all 0.3s ease 0s;
	overflow: hidden;
}
// ._more-item
._more-item {
}
// ._more-link
._more-link {
	cursor: pointer;
	span {
		font-style: normal;
		&:first-child {
			display: block;
		}
		&:last-child {
			display: none;
		}
	}
	&._active {
		span {
			font-style: normal;
			&:first-child {
				display: none;
			}
			&:last-child {
				display: block;
			}
		}
	}
}
//====================================================================================================
%graystyle {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
%graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}
//====================================================================================================
#map {
	background: url("../img/icons/loading.gif") center / 50px no-repeat;
}
//====================================================================================================
._swiper {
	overflow: hidden;
	//.swiper-wrapper
	.swiper-wrapper {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
	}
	&.swiper-container-vertical {
		.swiper-wrapper {
			flex-direction: column;
		}
	}
	&.swiper-container-autoheight {
		.swiper-wrapper {
			align-items: flex-start;
		}
	}
}
.swiper-container-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-container-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}
//====================================================================================================
._tabs {
}
._tabs-item {
}
._tabs-block {
	display: none;
	&._active {
		display: block;
	}
}
//=====================================================================================================================
.mirror {
	transform: scale(-1, 1);
}
//=====================================================================================================================
.nicescroll-rails {
	z-index: 1000 !important;
}
//========================================================================================================================================================

//========================================================================================================================================================
._custom-scroll {
	position: fixed;
	right: 0;
	top: 0;
	width: 3px;
	height: 100%;
	z-index: 1000;
	//background-color: rgba(0, 0, 0, 0.1);
	&__line {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 3px 0 0 3px;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
	}
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================

//<ScrollTo>====================================================================================================
#scrollToTop {
	display: inline-block;
	background-color: #FF9800;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, 
	opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	&:hover {
		cursor: pointer;
		background-color: #333;
	}
	&:active {
		background-color: #555;
	}
	&.show {
		opacity: 1;
		visibility: visible;
	}
  }
//</ScrollTo>====================================================================================================
  .loadmore {
	// .loadmore__row
	&__row {
	}

	// .loadmore__item
	&__item {
		display:none;
	}

	// .loadmore__content
	&__content {
		background-color:#333;
		height:200px;
		width: 500px;
		margin:10px 0;
		border:1px solid #ccc;
	}
}
.load-more {
	background-color:#000;
	color:#fff !important;
	padding:5px 10px;
	border-radius:4px;
	font-size:20px;
	margin:50px 0;
	display:inline-block;
	&:hover {
		background-color:blue;
		text-decoration:none;
	}
}

//</Селекторы полосы прокрутки>====================================================================================================
// // width
// ::-webkit-scrollbar {
// 	width: 10px;
// }

// // Track
// ::-webkit-scrollbar-track {
// 	background: #f1f1f1; 
// }

// // Handle
// ::-webkit-scrollbar-thumb {
// 	background: #888; 
// }

// // Handle on hover
// ::-webkit-scrollbar-thumb:hover {
// 	background: #555; 
// }
//</Селекторы полосы прокрутки>====================================================================================================