#header {
  width: 100%;
  height:96px;
  position: fixed;
  background: $secondary-color;
  top:0;
  @include box-treatment;
  z-index: 10;
  color: #fff;
  border-bottom: 1px solid #000;
  @include transition(300ms);
  @include breakpoint(mobile) {
	   height: 86px;
  }
  &.fixed{
	background: #fff;
	color: $font-color;
	z-index: 10;
  	&.active{
  	  background: $secondary-color;
  	  color: #fff;
  	}
  }
  #logo{
    width: 500px;
    height: 100%;
    overflow: hidden;
    text-indent: -99999px;
    background: url(../images/nav-logo.svg) no-repeat center;
    background-size: contain;
    a{
      display: block;
      height: 100%;
    }
  }
}
