/* =============================================================================
	FORMS
	========================================================================== */
form, fieldset {margin:0; padding:0; border-style:none;}
label {cursor:pointer;}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor:pointer; -webkit-appearance: none; *overflow:visible;}
input {outline:none;}
/*Iphone Border Radius Fix*/
input {-webkit-border-radius:0;}
textarea {-webkit-border-radius:0;}
input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;/* mobile firefox too! */
}
button[disabled], input[disabled] {cursor:default;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0;padding:0;}
button {padding:0}
input[type="checkbox"], input[type="radio"] {width:15px; height:16px; padding:0; margin:0;}
input, textarea, select {font:100% $brand-font-1, $brand-font-2, Arial, Helvetica, sans-serif; vertical-align:middle; color:$secondary-color;}
textarea {resize:vertical; margin:0; padding:0; overflow:auto; vertical-align:top; outline:none;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
input:-moz-placeholder {color:$placeholder;}
input::-moz-placeholder {color:$placeholder;opacity:1;}
input::-webkit-input-placeholder {color:$placeholder;}
input:-ms-input-placeholder {color:$placeholder;}
input::placeholder {color:$placeholder;}
input:focus:-moz-placeholder {color:transparent;}
input:focus::-moz-placeholder {color:transparent;}
input:focus::-webkit-input-placeholder {color:transparent;}
input:focus:-ms-input-placeholder {color:transparent;}
input:focus::placeholder {color:transparent;}
input::-ms-clear {display:none;}


.form {
  .fields {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    @include breakpoint(mobile) {
      display: block;
    }

    & > .field {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      padding-left: .5em;
      padding-right: .5em;
      @include breakpoint(mobile) {
        padding: 0;
      }
    }
    &.two {
      & > .field,
      & > .fields {
        width: 50%;
        @include breakpoint(mobile) {
          width: 100%;
        }
      }
      .field {
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
      .field.narrow {
        width: 30%;
        @include breakpoint(desktop-small) {
          width: 40%;
        }
        @include breakpoint(tablet) {
          width: 30%;
        }
        @include breakpoint(mobile) {
          width: 100%;
        }
      }
      .field.wide {
        width: 70%;
        @include breakpoint(desktop-small) {
          width: 60%;
        }
        @include breakpoint(tablet) {
          width: 70%;
        }
        @include breakpoint(mobile) {
          width: 100%;
        }
      }
    }
  }
}

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  select,
  textarea{
    width: 100%;
    @include box-treatment;
    border: 1px solid $font-color;
    background: #fff;
    margin-bottom: 1em;
    height: 50px;
    padding: 0 20px;
    color: $font-color;
  }
  textarea{
    height: 194px;
    padding: 20px;
    resize: vertical;
  }
  label{
    text-transform: lowercase;
    display: block;
    margin: 0.5em 0;
  }
  input[type="checkbox"],
  input[type="radio"]{
    float: left;
  }
  .chk-label{
    overflow: hidden;
  }

select.custom{
  display: none;
}


input[type="checkbox"] {
  position: absolute;
  @include opacity(0);
  cursor: pointer;
  @include box-treatment;
}

input[type="checkbox"] + label {
  position: relative;
  padding: 0;
  font-size: 16px;
  line-height: 2.5em;
  cursor: pointer;
  @include box-treatment;
}

input[type="checkbox"] + label:before {
  top: 5px;
  content: "";
  display: inline-block;
  position: relative;
  height: 22px;
  width: 22px;
  cursor: pointer;
  color: #fff;
  background-color: #fff;
  border: 1px solid $font-color;
  @include box-treatment;
  margin-right: 15px;
}

input[type="checkbox"]:checked + label:before {
  background: $primary-color;
  color: #fff;
  border: 1px solid $font-color;
  background-image: url('../images/icon-check.svg');
  background-size: 55%;
  background-position: center center;
  background-repeat: no-repeat;

}

input[type="checkbox"]:checked + label {
  cursor: pointer;
  color: $secondary-color;
}


/*radio*/

input[type="radio"] {
  position: absolute;
  @include opacity(0);
  cursor: pointer;
  @include box-treatment;
}

input[type="radio"] + label {
  position: relative;
  padding: 0;
  font-size: 16px;
  line-height: 2.5em;
  cursor: pointer;
  @include box-treatment;
}

input[type="radio"] + label:before {
  top: 5px;
  content: "";
  display: inline-block;
  position: relative;
  height: 22px;
  width: 22px;
  cursor: pointer;
  color: #fff;
  background-color: #fff;
  border: 1px solid $font-color;
  @include box-treatment;
  margin-right: 15px;
}

input[type="radio"]:checked + label:before {
  background: $primary-color;
  color: #fff;
  border: 1px solid $font-color;
  background-image: url('../images/icon-check.svg');
  background-size: 55%;
  background-position: center center;
  background-repeat: no-repeat;

}

input[type="radio"]:checked + label {
  cursor: pointer;
  color: $secondary-color;
}
