/* Global Elements ---------------------------*/

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;  // don't change that to use rems
  opacity: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height:100%;
  background-color: #fff;
  color: $font-color;
  font-family: $brand-font-1, $brand-font-2, Arial, Helvetica, sans-serif;
  @include font-size(16);
}
/*
 * Modifiers
 */
.f-l  { float: left; margin: 0 1em 1em 0; }
.f-r { float: right; margin: 0 0 1em 1em; }
.wysiwyg {}

#main {
  overflow: hidden;
  display: block;
  min-height: 200px;
  padding: 96px 0 0;
  img{
    max-width: 100%
  }
}

.visualhidden{
  position: absolute;
  top:-99999px;
  left:-99999px;
}
/*fade in blocks*/
.display {
  width: 48%;
  min-height: 200px;
  background: white;
  position: relative;
  float: left;
  @include box-treatment;
  padding: 20px;
  margin-right: 4%;
  margin-bottom: 4%;
  &:nth-child(even) {
    margin-right: 0;
  }
  box-shadow: 0 1px 3px rgba(black, 0.2);
}

.default-styles{
  .col-16,
  .col-10,
  .col-8,
  .col-6,
  .col-4{
    @include breakpoint(tablet){
      width: $col-16-width;
    }
  }
  .col-10,
  .col-8,
  .col-6,
  .col-4{
    @include breakpoint(tablet){
      margin: 0 auto;
      width: 100%;
    }
  }
  fieldset{
    padding: 0;
  }
}
