/* SCSS Compiled */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

/*
 * Variables
 */
/*usage  @include font-size(13);*/
/*width-desktop-medium*/
/*width-desktop-medium*/
/*width- desktop-small*/
/*width-tablet*/
/*width-tablet*/
/*width-mobile*/
/*---Grid Variables -----------------------------------------*/
.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 1408px;
  position: relative;
  margin: auto;
  overflow: hidden; }
  .container:before, .container:after {
    content: "";
    display: table;
    position: relative; }
  .container:after {
    clear: both; }
  @media (max-width: 1408px) {
    .container {
      max-width: 1248px; } }
  @media (max-width: 1248px) {
    .container {
      max-width: 1008px; } }
  @media (max-width: 1008px) {
    .container {
      max-width: 768px; } }
  @media (max-width: 768px) {
    .container {
      max-width: 736px; } }
  @media (max-width: 736px) {
    .container {
      max-width: 100%; } }

.col-2 {
  width: calc((4.11932% * 2) + (1.06534% * 2)); }

.col-3 {
  width: calc((4.11932% * 3) + (1.06534% * 4)); }

.col-4 {
  width: calc((4.11932% * 4) + (1.06534% * 6)); }

.col-5 {
  width: calc((4.11932% * 5) + (1.06534% * 8)); }

.col-6 {
  width: calc((4.11932% * 6) + (1.06534% * 10)); }

.col-7 {
  width: calc((4.11932% * 7) + (1.06534% * 12)); }

.col-8 {
  width: calc((4.11932% * 8) + (1.06534% * 14)); }

.col-9 {
  width: calc((4.11932% * 9) + (1.06534% * 16)); }

.col-10 {
  width: calc((4.11932% * 10) + (1.06534% * 18)); }

.col-11 {
  width: calc((4.11932% * 11) + (1.06534% * 20)); }

.col-12 {
  width: calc((4.11932% * 12) + (1.06534% * 22)); }

.col-13 {
  width: calc((4.11932% * 13) + (1.06534% * 24)); }

.col-14 {
  width: calc((4.11932% * 14) + (1.06534% * 26)); }

.col-15 {
  width: calc((4.11932% * 15) + (1.06534% * 28)); }

.col-16 {
  width: calc((4.11932% * 16) + (1.06534% * 30)); }

/* Brand Colors ------------------------------------------------*/
/* Global Elements ---------------------------*/
html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  opacity: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #6a6a6b;
  font-family: "", sans-serif, "", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem; }

/*
 * Modifiers
 */
.f-l {
  float: left;
  margin: 0 1em 1em 0; }

.f-r {
  float: right;
  margin: 0 0 1em 1em; }

#main {
  overflow: hidden;
  display: block;
  min-height: 200px;
  padding: 96px 0 0; }
  #main img {
    max-width: 100%; }

.visualhidden {
  position: absolute;
  top: -99999px;
  left: -99999px; }

/*fade in blocks*/
.display {
  width: 48%;
  min-height: 200px;
  background: white;
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  margin-right: 4%;
  margin-bottom: 4%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  .display:nth-child(even) {
    margin-right: 0; }

@media (max-width: 1008px) {
  .default-styles .col-16,
  .default-styles .col-10,
  .default-styles .col-8,
  .default-styles .col-6,
  .default-styles .col-4 {
    width: calc((4.11932% * 16) + (1.06534% * 30)); } }

@media (max-width: 1008px) {
  .default-styles .col-10,
  .default-styles .col-8,
  .default-styles .col-6,
  .default-styles .col-4 {
    margin: 0 auto;
    width: 100%; } }

.default-styles fieldset {
  padding: 0; }

.row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  padding: 5px 0; }
  .row:before, .row:after {
    content: " ";
    display: table;
    clear: both; }

[class^="col"], [class*=" col"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  float: left;
  width: 4.11932%;
  margin: 0 1.06534%;
  min-height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  [class^="col"]:before, [class^="col"]:after, [class*=" col"]:before, [class*=" col"]:after {
    content: " ";
    display: table;
    clear: both;
    position: relative; }

.color [class^="col"], .color [class*=" col"] {
  background-color: grey; }

.color .container {
  background: black; }

[class^="col"].center-box, [class*=" col"].center-box {
  margin: auto;
  float: none !important;
  display: block; }

.col-2 {
  width: calc((4.11932% * 2) + (1.06534% * 2)); }

.col-3 {
  width: calc((4.11932% * 3) + (1.06534% * 4)); }

.col-4 {
  width: calc((4.11932% * 4) + (1.06534% * 6)); }

.col-5 {
  width: calc((4.11932% * 5) + (1.06534% * 8)); }

.col-6 {
  width: calc((4.11932% * 6) + (1.06534% * 10)); }

.col-7 {
  width: calc((4.11932% * 7) + (1.06534% * 12)); }

.col-8 {
  width: calc((4.11932% * 8) + (1.06534% * 14)); }

.col-9 {
  width: calc((4.11932% * 9) + (1.06534% * 16)); }

.col-10 {
  width: calc((4.11932% * 10) + (1.06534% * 18)); }

.col-11 {
  width: calc((4.11932% * 11) + (1.06534% * 20)); }

.col-12 {
  width: calc((4.11932% * 12) + (1.06534% * 22)); }

.col-13 {
  width: calc((4.11932% * 13) + (1.06534% * 24)); }

.col-14 {
  width: calc((4.11932% * 14) + (1.06534% * 26)); }

.col-15 {
  width: calc((4.11932% * 15) + (1.06534% * 28)); }

.col-16 {
  width: calc((4.11932% * 16) + (1.06534% * 30)); }

.animate {
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s; }
  .animate:nth-child(odd) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s; }

.fade-in {
  opacity: 0;
  filter: alpha(opacity=0); }

.dev-grid {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;
  pointer-events: none;
  padding: 0;
  margin: 0 auto !important; }
  .dev-grid .container {
    height: 100%;
    padding: 0; }
  .dev-grid [class^="col-"], .dev-grid [class*=" col-"] {
    height: 100%;
    background-color: yellow; }
  .dev-grid.on {
    opacity: 0.4;
    filter: alpha(opacity=40); }

/* Brand Fonts & Treatment -------------------------------------*/
.h1, h1 {
  font-family: "", sans-serif;
  font-weight: 300;
  font-size: 31px;
  font-size: 3.1rem;
  line-height: 1;
  margin: 0;
  color: #e21a22; }

.h2, h2 {
  font-family: "", sans-serif;
  font-weight: 300;
  font-size: 27px;
  font-size: 2.7rem;
  line-height: 1;
  margin: 0; }

.h3, h3 {
  font-family: "", sans-serif;
  font-weight: 300;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1;
  margin: 0;
  color: #e21a22; }

.h4, h4 {
  font-family: "", sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1;
  margin: 0;
  color: #e21a22; }

.h5, h5 {
  font-family: "", sans-serif;
  font-weight: 300;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1;
  margin: 0; }

.h6, h6 {
  font-family: "", sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  margin: 0; }

h1 {
  margin: 1em 0 0.5em; }

h2 {
  margin: 1em 0 0.5em; }

h3 {
  margin: 1em 0 0.5em; }

h4 {
  margin: 1em 0 0.5em; }

h5 {
  margin: 1em 0 0.5em; }

h6 {
  margin: 1em 0 0.5em; }

p {
  font-family: "", sans-serif;
  font-weight: 300;
  font-font-size: 16px;
  font-font-size: 1.6rem;
  padding: 0;
  line-height: 1.35em;
  margin: 0 0 25px; }

.link, a {
  color: #e21a22;
  text-decoration: none; }
  .link:active, a:active {
    color: inherit; }

b {
  font-weight: 600;
  color: #6a6a6b; }

a {
  outline: none !important; }

ul {
  margin: 0;
  list-style: none;
  padding: 10px 25px; }
  @media (max-width: 736px) {
    ul {
      padding: 10px; } }
  ul li {
    position: relative;
    text-decoration: none;
    font-family: "", sans-serif;
    font-weight: 300;
    line-height: 1.35em;
    padding-left: 48px;
    margin: 0 0 27px; }
    @media (max-width: 736px) {
      ul li {
        padding-left: 20px; } }
    ul li:before {
      position: absolute;
      left: 25px;
      top: 0;
      content: "\00B7";
      color: #e21a22;
      font-weight: 400;
      width: 1px;
      height: 1px;
      font-size: 28px;
      font-size: 20px;
      font-size: 2rem;
      line-height: 1em; }
      @media (max-width: 736px) {
        ul li:before {
          left: 0; } }

ol {
  margin: 0;
  padding: 10px 25px;
  list-style-type: none;
  counter-reset: point; }
  @media (max-width: 736px) {
    ol {
      padding: 10px; } }
  ol li {
    margin: 0 0 20px;
    padding: 0 0 0 50px;
    line-height: 1.8em;
    list-style: none;
    position: relative; }
    ol li:before {
      counter-increment: point 1;
      content: counter(point) ".";
      position: absolute;
      left: 20px;
      top: 0;
      width: 20px;
      height: 14px;
      line-height: 1.8em;
      font-size: 14px;
      font-size: 1.4rem;
      color: #e21a22;
      text-align: center; }

em {
  font-style: italic; }

strong {
  font-weight: 600; }

.button-1, .button-2,
input.button-2,
button.button-2,
a.button-2, .button-3,
input.button-3,
button.button-3,
a.button-3, .button-4,
input.button-4,
button.button-4,
a.button-4, .button-5,
input.button-5,
button.button-5,
a.button-5,
input.button-1,
input.button-2,
input.button-3,
input.button-4,
input.button-5,
button.button-1,
button.button-2,
button.button-3,
button.button-4,
button.button-5,
a.button-1,
a.button-2,
a.button-3,
a.button-4,
a.button-5 {
  color: #fff;
  background-color: #e21a22;
  display: inline-block;
  padding: 20px 15px;
  font-weight: 600;
  margin: auto;
  margin-top: 20px;
  border-bottom: none; }
  .button-1:after, .button-2:after, .button-3:after, .button-4:after, .button-5:after,
  input.button-1:after,
  input.button-2:after,
  input.button-3:after,
  input.button-4:after,
  input.button-5:after,
  button.button-1:after,
  button.button-2:after,
  button.button-3:after,
  button.button-4:after,
  button.button-5:after,
  a.button-1:after,
  a.button-2:after,
  a.button-3:after,
  a.button-4:after,
  a.button-5:after {
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    padding: 0 10px;
    content: "\25bb"; }
  .button-1:hover, .button-2:hover, .button-3:hover, .button-4:hover, .button-5:hover,
  input.button-1:hover,
  input.button-2:hover,
  input.button-3:hover,
  input.button-4:hover,
  input.button-5:hover,
  button.button-1:hover,
  button.button-2:hover,
  button.button-3:hover,
  button.button-4:hover,
  button.button-5:hover,
  a.button-1:hover,
  a.button-2:hover,
  a.button-3:hover,
  a.button-4:hover,
  a.button-5:hover {
    background-color: #272727;
    color: #fff; }

.button-2,
input.button-2,
button.button-2,
a.button-2 {
  color: #fff;
  background-color: #e21a22; }
  .button-2:hover,
  input.button-2:hover,
  button.button-2:hover,
  a.button-2:hover {
    background-color: grey;
    color: #fff; }

.button-3,
input.button-3,
button.button-3,
a.button-3 {
  color: #fff;
  background-color: #000; }
  .button-3:hover,
  input.button-3:hover,
  button.button-3:hover,
  a.button-3:hover {
    background-color: grey;
    color: #fff; }

.button-4,
input.button-4,
button.button-4,
a.button-4 {
  color: #e21a22;
  background-color: #fff;
  border: 1px solid #e21a22; }
  .button-4:hover,
  input.button-4:hover,
  button.button-4:hover,
  a.button-4:hover {
    background-color: #e21a22;
    color: #fff; }

.button-5,
input.button-5,
button.button-5,
a.button-5 {
  color: #e21a22;
  background-color: #fff;
  border: 1px solid #e21a22; }
  .button-5:hover,
  input.button-5:hover,
  button.button-5:hover,
  a.button-5:hover {
    background-color: #e21a22;
    color: #fff;
    border-color: #e21a22; }

/* =============================================================================
	FORMS
	========================================================================== */
form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

label {
  cursor: pointer; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  *overflow: visible; }

input {
  outline: none; }

/*Iphone Border Radius Fix*/
input {
  -webkit-border-radius: 0; }

textarea {
  -webkit-border-radius: 0; }

input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* mobile firefox too! */ }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button {
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  width: 15px;
  height: 16px;
  padding: 0;
  margin: 0; }

input, textarea, select {
  font: 100% "", sans-serif, "", sans-serif, Arial, Helvetica, sans-serif;
  vertical-align: middle;
  color: #272727; }

textarea {
  resize: vertical;
  margin: 0;
  padding: 0;
  overflow: auto;
  vertical-align: top;
  outline: none; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input:-moz-placeholder {
  color: #272727; }

input::-moz-placeholder {
  color: #272727;
  opacity: 1; }

input::-webkit-input-placeholder {
  color: #272727; }

input:-ms-input-placeholder {
  color: #272727; }

input::-ms-input-placeholder {
  color: #272727; }

input::placeholder {
  color: #272727; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

input:focus::-ms-input-placeholder {
  color: transparent; }

input:focus::placeholder {
  color: transparent; }

input::-ms-clear {
  display: none; }

.form .fields {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media (max-width: 736px) {
    .form .fields {
      display: block; } }
  .form .fields > .field {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding-left: .5em;
    padding-right: .5em; }
    @media (max-width: 736px) {
      .form .fields > .field {
        padding: 0; } }
  .form .fields.two > .field,
  .form .fields.two > .fields {
    width: 50%; }
    @media (max-width: 736px) {
      .form .fields.two > .field,
      .form .fields.two > .fields {
        width: 100%; } }
  .form .fields.two .field:first-child {
    padding-left: 0; }
  .form .fields.two .field:last-child {
    padding-right: 0; }
  .form .fields.two .field.narrow {
    width: 30%; }
    @media (max-width: 1248px) {
      .form .fields.two .field.narrow {
        width: 40%; } }
    @media (max-width: 1008px) {
      .form .fields.two .field.narrow {
        width: 30%; } }
    @media (max-width: 736px) {
      .form .fields.two .field.narrow {
        width: 100%; } }
  .form .fields.two .field.wide {
    width: 70%; }
    @media (max-width: 1248px) {
      .form .fields.two .field.wide {
        width: 60%; } }
    @media (max-width: 1008px) {
      .form .fields.two .field.wide {
        width: 70%; } }
    @media (max-width: 736px) {
      .form .fields.two .field.wide {
        width: 100%; } }

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #6a6a6b;
  background: #fff;
  margin-bottom: 1em;
  height: 50px;
  padding: 0 20px;
  color: #6a6a6b; }

textarea {
  height: 194px;
  padding: 20px;
  resize: vertical; }

label {
  text-transform: lowercase;
  display: block;
  margin: 0.5em 0; }

input[type="checkbox"], input[type="radio"] {
  float: left; }

.chk-label {
  overflow: hidden; }

select.custom {
  display: none; }

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="checkbox"] + label {
  position: relative;
  padding: 0;
  font-size: 16px;
  line-height: 2.5em;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="checkbox"] + label:before {
  top: 5px;
  content: "";
  display: inline-block;
  position: relative;
  height: 22px;
  width: 22px;
  cursor: pointer;
  color: #fff;
  background-color: #fff;
  border: 1px solid #6a6a6b;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 15px; }

input[type="checkbox"]:checked + label:before {
  background: #e21a22;
  color: #fff;
  border: 1px solid #6a6a6b;
  background-image: url("../images/icon-check.svg");
  background-size: 55%;
  background-position: center center;
  background-repeat: no-repeat; }

input[type="checkbox"]:checked + label {
  cursor: pointer;
  color: #272727; }

/*radio*/
input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="radio"] + label {
  position: relative;
  padding: 0;
  font-size: 16px;
  line-height: 2.5em;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="radio"] + label:before {
  top: 5px;
  content: "";
  display: inline-block;
  position: relative;
  height: 22px;
  width: 22px;
  cursor: pointer;
  color: #fff;
  background-color: #fff;
  border: 1px solid #6a6a6b;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 15px; }

input[type="radio"]:checked + label:before {
  background: #e21a22;
  color: #fff;
  border: 1px solid #6a6a6b;
  background-image: url("../images/icon-check.svg");
  background-size: 55%;
  background-position: center center;
  background-repeat: no-repeat; }

input[type="radio"]:checked + label {
  cursor: pointer;
  color: #272727; }

@font-face {
  font-family: "np-group";
  src: url("../fonts/np-group.eot");
  src: url("../fonts/np-group.eot?#iefix") format("embedded-opentype"), url("../fonts/np-group.woff") format("woff"), url("../fonts/np-group.ttf") format("truetype"), url("../fonts/np-group.svg#np-group") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "np-group" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  padding: 0 5px; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "np-group" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  padding: 0 5px; }

.icon-logo1:before {
  content: "\e000"; }

.icon-circle-arrow-right:before {
  content: "\e001"; }

.icon-circle-arrow-left:before {
  content: "\e002"; }

.icon-circle-arrow-up:before {
  content: "\e003"; }

.icon-circle-arrow-down:before {
  content: "\e004"; }

.icon-circle-arrow-right-2:before {
  content: "\e005"; }

.icon-circle-arrow-left-2:before {
  content: "\e006"; }

.icon-circle-arrow-up-2:before {
  content: "\e007"; }

.icon-circle-arrow-down-2:before {
  content: "\e008"; }

.icon-phone:before {
  content: "\e009"; }

.icon-gear:before {
  content: "\e00a"; }

.icon-star:before {
  content: "\e00b"; }

.icon-handshake:before {
  content: "\e00c"; }

.icon-facebook:before {
  content: "\e00d"; }

.icon-twitter:before {
  content: "\e00e"; }

.icon-instagram:before {
  content: "\e00f"; }

.icon-pinterest:before {
  content: "\e010"; }

.icon-search:before {
  content: "\e011"; }

.icon-strategy:before {
  content: "\e012"; }

.icon-design:before {
  content: "\e013"; }

.icon-development:before {
  content: "\e014"; }

.icon-maintenance:before {
  content: "\e015"; }

.icon-marketing:before {
  content: "\e016"; }

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative; }

.jspPane {
  position: absolute; }

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 2px;
  width: 9px;
  height: 100%;
  /*background: red;*/ }

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  /*background: red;*/ }

.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0; }

.jspCap {
  display: none; }

.jspHorizontalBar .jspCap {
  float: left; }

.jspTrack {
  /*background: #dde;*/
  position: relative; }

.jspDrag {
  background: #b32b2b;
  opacity: 0.8;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer; }

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%; }

.jspArrow {
  /*background: #50506d;*/
  text-indent: -20000px;
  display: block;
  cursor: pointer; }

.jspArrow.jspDisabled {
  cursor: default;
  /*background: #80808d;*/ }

.jspVerticalBar .jspArrow {
  height: 16px; }

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%; }

.jspVerticalBar .jspArrow:focus {
  outline: none; }

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0; }

.jspPane {
  width: 100% !important; }

.jspDrag {
  background: none;
  /*here the color of drag can be applied*/
  width: 4px;
  top: 3px !important;
  opacity: 0.8;
  z-index: 25; }

.overlay-menu .jspTrack {
  background: none; }

.overlay-menu .jspVerticalBar .jspArrow {
  display: none; }

.overlay-menu .jspPane {
  width: 100% !important; }

/*custom selects*/
select.custom {
  display: none; }

.customSelect {
  position: relative;
  float: left;
  margin: 0; }

.customSelect .selectedValue {
  cursor: pointer;
  *zoom: 1;
  padding: 0 30px 0 20px;
  height: 60px;
  text-align: left;
  line-height: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #6a6a6b;
  border: 1px solid #6a6a6b;
  background: #fff;
  font-weight: 500;
  width: 100%;
  margin: 0 0 20px;
  font-size: 1em; }

.customSelect .selectList {
  z-index: 20;
  width: 100%;
  position: absolute;
  left: -999em;
  top: -999em;
  padding: 5px 0;
  margin: 0;
  list-style: none;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-weight: 500;
  outline: none; }
  .customSelect .selectList * {
    outline: none; }

.customSelect.select-open .selectList {
  left: 0 !important;
  top: 55px !important; }

.customSelect .selectList dl {
  background: #fff;
  border-bottom: 1px solid #6a6a6b; }

.customSelect .selectList dl.defaultScrollbar {
  overflow-x: hidden;
  overflow-y: scroll; }

.customSelect dl, .customSelect dd {
  margin: 0; }

.customSelect dd {
  zoom: 1;
  cursor: pointer;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #6a6a6b;
  border-right: 1px solid #6a6a6b;
  border-left: 1px solid #6a6a6b;
  background: #fff;
  width: 100%;
  margin: 0;
  text-align: left;
  padding: 0 20px; }
  .customSelect dd:last-child {
    border-bottom: 0; }

.customSelect .disabled {
  color: #999;
  cursor: default; }

.customSelect .selected {
  text-decoration: none; }

.customSelect .selectList dd.hovered {
  background: grey;
  color: #e21a22; }

.customSelect .selectList dd.disabled.hovered {
  background: none;
  color: #999; }

.customSelect dt {
  font-weight: bold;
  font-style: italic;
  padding: 2px 10px 2px 6px; }

.hasJS select.custom {
  position: absolute;
  left: -999em; }

.hasJS select.custom.use-default {
  position: absolute;
  left: auto;
  height: auto;
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  /* prevents iOS from zooming in on field */
  font-size: 16px; }

.customSelect.disabled .selectedValue {
  border: 1px solid #ccc;
  cursor: default; }

.customSelect .caret {
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 12px; }
  .customSelect .caret:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "\25bc";
    font-size: 14px;
    color: #6a6a6b; }

.select-open.customSelect .caret:before {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.customSelect .selectValueWrap {
  position: relative; }

.customSelect .selectValueWrap .caret {
  position: absolute;
  top: 50%;
  margin: -4px 0 0 0;
  right: 15px;
  cursor: pointer; }

.customSelect .jspPane {
  overflow-x: hidden; }

.customSelect .jspVerticalBar {
  background: none;
  width: 8px; }

.customSelect .jspHorizontalBar {
  height: 0;
  overflow: hidden; }

.customSelect .jspTrack {
  background: none;
  right: 5px;
  border-radius: 5px; }

.customSelect .jspDrag {
  border-radius: 5px;
  color: #ffffff;
  opacity: .5;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#222222));
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

#header {
  width: 100%;
  height: 96px;
  position: fixed;
  background: #272727;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;
  color: #fff;
  border-bottom: 1px solid #000;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }
  @media (max-width: 736px) {
    #header {
      height: 86px; } }
  #header.fixed {
    background: #fff;
    color: #6a6a6b;
    z-index: 10; }
    #header.fixed.active {
      background: #272727;
      color: #fff; }
  #header #logo {
    width: 500px;
    height: 100%;
    overflow: hidden;
    text-indent: -99999px;
    background: url(../images/nav-logo.svg) no-repeat center;
    background-size: contain; }
    #header #logo a {
      display: block;
      height: 100%; }

#footer {
  background: #272727;
  color: #fff;
  padding: 25px 0;
  text-align: center; }
