header
	nav
		#brand
			#logo
			#word-mark
		#menu
			#menu-toggle
				#menu-icon
					.bar
					.bar
					.bar
			ul
				-for(i=0;i<4;i++)
					li
						a(href="#section0" + i)
	#hero-section
		#head-line
-for(i=0;i<4;i++)
	section(id='section0' + i)
		#heading
		
a(href="https://youtu.be/m1IU7zjl1k4")#youtube: i.fa.fa-youtube-play