.header {
	@include box;

	.header__menu {
		@media (min-width: 375px) and (max-width: 767px) {
			display: none;
		}
		.primary-menu {
			li {
				a {
					&:hover {
						cursor: pointer;
					}
				}
				.submenu {
					@include transition2;
					display: none;
					li {
						a {
							&:hover {
								cursor: pointer;
							}
						}

						.sub-submenu {
							@include transition2;
							display: none;
							li {
								a {
									&:hover {
										cursor: pointer;
									}
								}
							}
						}

						&:hover {
							.sub-submenu {
								display: block;
							}
						}
					}
				}

				&:hover {
					.submenu {
						display: block;
					}
				}
			}
		}
	}

	.header__menu-burger {
		position: relative;
		display: none;
		@media (min-width: 375px) and (max-width: 767px) {
			display: block;
		}

		.burger-nav {
			position: absolute;
			top: 20px;
			right: 20px;
			width: 30px;
			height: 2px;
			background-color: #000000;
			z-index: 9999;

			&::before {
				content: '';
				position: absolute;
				top: 10px;
				width: 30px;
				height: 2px;
				background-color: #000000;
			}

			&::after {
				content: '';
				position: absolute;
				top: 20px;
				width: 30px;
				height: 2px;
				background-color: #000000;
			}
		}

		.burger-menu {
			position: absolute;
			top: 0;
			left: -1000px;
			width: 100%;
			height: 300px;
			background-color: #ccc;
			z-index: 9998;
			@include transition2;
			li {
				a {}
			}
		}

		.burger-menu.active {
			left: 0;
			display: block;
		}
	}
}
